
.leftnav {
	display: flex;
	position: fixed;
	width: 180px;
	height: 100%;
	float: left;
	background-color: #2F2E2E
	
}
.mapout-logo-container{
	width: 180px;
	height : 60px;
}
.user-container{
	width: 180px;
	height: 45px;
}
.user-icon-container{
	display: inline-block;
	height:60px;
	width: 60px;
}
.icon{
	border-radius: 50%;
}
.user-name-container{
	display: inline-block;
	height: 30px;
	width: 120px;
	float: right;
	margin: 10px 0px 0px 0px;
}
.rightcontent {
	margin-left: 180px;
	position: fixed;
	width: 100%;
	height: 100%;
	background:#D5D5D5;
}
.searchbar-container{
	display: flex;
	height:60px;
	width: 180px;
}

.resized-searchbox{
	margin-top: 1px; 
	margin-left: 7px;
	width: 160px;
	height: 30px;
	  outline: none;
	box-shadow: none;
}
.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color:#2F2E2E;
	font-size: 10;
}
.btn:focus, .btn:active {
  outline: none;
	box-shadow: none;
}
.nav-function-container{
	width: 160px;
	height:40px;
	margin-left: 9px;
margin-right: 9px;
	margin-bottom: 5px;
}
.btn-nav {
    font-size: 15px;
}
