
.leftnav {
	display: flex;
	position: fixed;
	width: 180px;
	height: 100%;
	float: left;
	background-color: #2F2E2E
	
}
.mapout-logo-container{
	width: 180px;
	height : 60px;
}
.user-container{
	width: 180px;
	height: 45px;
}
.user-icon-container{
	display: inline-block;
	height:60px;
	width: 60px;
}
.icon{
	border-radius: 50%;
}
.user-name-container{
	display: inline-block;
	height: 30px;
	width: 120px;
	float: right;
	margin: 10px 0px 0px 0px;
}
.user-name-container::selection{
	color:white;
	background: white;
}
.user-name-container:hover{
	color: aqua;
}
.rightcontent {
	margin-left: 180px;
	position: fixed;
	width: 100%;
	height: 100%;
	background:#D5D5D5;
}
.searchbar-container{
	display: flex;
	height:45px;
	width: 80%;
	background:#AAAAAA;
	margin: 7px 7px 7px 15px;
}

.resized-searchbox{
	margin-top: 7px; 
	margin-left: 10px;
	width: 80%;
	height: 30px;
	  outline: none;
	box-shadow: none;
}
.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color:#2F2E2E;
	font-size: 10;
}
.btn:active {
  outline: none;
	box-shadow: none;
}
.nav-function-container{
	width: 160px;
	height:40px;
	margin-left: 9px;
	margin-right: 9px;
	margin-bottom: 0px;
}
.btn-nav {
    font-size: 15px;
	color: #909090;
	background:none;
	border: none;

}
.table-container{
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px;
	width:39.4%;
}
.add-project-button{
	right:50px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}
.round-table thead th:first-child{
	border-radius: 6px 0 0 0;
}
.round-table thead th:last-child{
	border-radius: 0 6px 0 0;
}