
{% extends 'home_base.html' %}
{% block content %}
<div id="home-big-title">
  	<div><h3>Forgot Password?</h3></div>
 	<div class="form-group rounded" style="background-color: rgba(255, 255, 255, 0.9);padding: 1rem;">
   	{% if form.errors %}
   	<span style="color: red;"><p>Wrong format of email! Please try again.</p></span>
   	{% endif %}
   	<form method="POST" style="color: black; margin-left: 1rem; margin-right: 1rem;">
      {% csrf_token %}
      <label for="email">Enter Email:</label><br>
      <input class="form-control" type="email" name="email" value="" id="email"><br>
      <input id="forget-submit" type="submit" value="Reset Now" class="btn btn-outline-primary">
      <input type="hidden" name="next" value="{{ next|escape }}" />
  	</form>
 </div>
{% endblock %}