{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<div id="home-big-title" class="rounded" style="top:-20rem" >
	<div>
		<h3>
			Sign Up
		</h3>
	</div>
	<div class="form-group rounded" style="background-color: rgba(255, 255, 255, 0.9);padding: 1rem;">
		{% if form.errors %}
		<p>Wrong Username or password. Please try again.</p>
		{% endif %}
		<div class="form-group">
 			<form action="/accounts/signup/" method="POST" style="color: black;">
				{% csrf_token %}
				{% for non_field_error in form.non_field_error %}
					<p>{{ non_field_error }}</p>
				{% endfor %}
				{% for field in form %}
					<div>
						{% if field.label == "Privacy" %}
							<div>
								{{ field.label }}
							</div>
							{% for radio in form.choice %}
								<label for="{{ field.html_name }}">
									<input type="radio"
										id="{{ field.html_name }}"
										value="{{ radio.0 }}"
										name="{{ field.html_name }}" />
									{{ radio.1 }}
								</label>
							{% endfor %}
						{% else %}
							<label for="{{ field.id_for_label }}" class="label">
								{% if field.label == "Password2" %}
									Comfirm Password:
								{% else %}
									{{ field.label }}:
								{% endif %}
							</label>
							<div> {{ field }} </div>
						{% endif %}
						{% if field.help_text %}
							<p>{{ field.help_text }}</p>
						{% endif %}
						{% for error in field.errors %}
							<p>{{ error }}</p>
						{% endfor %}
					</div>
				{% endfor %}

				<!--<p>{{form.as_p}}</p>
				-->
 				<button type="submit" class="btn btn-outline-primary">Sign up</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}