{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<div id="home-big-title"   >
  <div><h3>Create Budget Plan</h3>
  </div>
  <div class="form-group rounded" style="background-color: rgba(255, 255, 255, 0.9);padding: 1rem;">
   {% if form.errors %}
   <span style="color: red;"><p>Invalid.</p></span>
   {% endif %}
    <form action="{% url 'createbudget2' %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
    	{% csrf_token %}

    	<label for="expense_name">New Expense Name:</label><br>
    	<input id="expense_name-submit" type="text" name="expense_name" value=""><br>
    	<label for="expense_amount">New Expense Amount:</label><br>
    	<input id="expense_amount-submit" type="text" name="expense_amount" value=""><br>

      <button type="submit" class="btn btn-outline-primary" style="margin-left: 1rem;">Create Plan</button><br>
    </form>

    <form action="{% url 'createbudget2' %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-primary" style="margin-left: 1rem;">New Expense</button>
    </form>

    <p style="margin-left: 1rem;">{{ form }}</p>
  </div>
       
</div>
{% endblock %}