
{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--add new capital-->
<div class="project-top-header unselectable">
    <h5 style="padding-top: 10px;display: inline-block;"><span style="color: darkgray;">Project • {{viewing_project.project_name}} • Budget Plan</span> • New capital</h5></div>
    <div style="margin-left: 1rem;">
   {% if form.errors %}
   <span style="color: red;"><p>Invalid.</p></span>
   {% endif %}
    <form action="{% url 'createbudget' viewing_project.id %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
    	{% csrf_token %}
    	<label for="capital_name">New Capital Name:</label><br>
    	<input id="capital_name-submit" type="text" name="capital_name" value="" class="form-control" style="width: 20rem;" required><br>
    	<label for="capital_amount">New Capital Amount:</label><br>
    	<input id="capital_amount-submit" type="text" name="capital_amount" value="" class="form-control" style="width: 20rem;" required><br>

      <button type="submit" class="btn btn-info" style="margin-left: 1rem;">Add Capital</button>
      
    </form>
    <div style="margin-top: 1rem;">
    <a class="btn btn-info" href="{% url 'viewbudget' viewing_project.id %}" style="margin;"><i class="fas fa-arrow-left"></i> Go back to budget plan</a>
    </div>

    <!--<form action="{% url 'createbudget' viewing_project.id %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-primary" style="margin-left: 1rem;">New Expense</button>
    </form>-->
    


    <p style="margin-left: 1rem;">{{ form }}</p>
  </div>
{% endblock %}