
{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--add new capital-->
<h1>New Capital</h1>
   {% if form.errors %}
   <span style="color: red;"><p>Invalid.</p></span>
   {% endif %}
    <form action="{% url 'createbudget' viewing_project.id %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
    	{% csrf_token %}
    	<label for="capital_name">New Capital Name:</label><br>
    	<input id="capital_name-submit" type="text" name="capital_name" value=""><br>
    	<label for="capital_amount">New Capital Amount:</label><br>
    	<input id="capital_amount-submit" type="text" name="capital_amount" value=""><br>

      <button type="submit" class="btn btn-info" style="margin-left: 1rem;">Add Capital</button><br>
    </form>

    <form action="{% url 'createbudget' viewing_project.id %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-primary" style="margin-left: 1rem;">New Expense</button>
    </form>

    <p style="margin-left: 1rem;">{{ form }}</p>
  </div>
       
</div>
{% endblock %}