{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--add new expense-->
<div class="project-top-header unselectable">
  <h5 style="padding-top: 10px;display: inline-block;"><span style="color: darkgray;">Project • {{viewing_project.project_name}} • Budget Plan</span> • New Expense</h5></div>
  <div style="margin-left: 1rem;">
   {% if form.errors %}
   <span style="color: red;"><p>Invalid.</p></span>
   {% endif %}
    <form action="{% url 'createbudget2' viewing_project.id %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
      {% csrf_token %}
          <label for="expense_name">Expense Name:</label>
          <input id ="expense_name-submit" type="text" name="expense_name" value=""><br>
          <label for="expense">Expense Type:</label>
          <select id="expense_transition_type" name="expense_transition_type"><br>
              <option value="Manpower">Manpower</option>
              <option value="Equipment">Equipment</option>
              <option value="Transport">Transport</option>
              <option value="Administrative_Fee">Administrative Fee</option>
              <option value="Consultant_Fee">Consultant Fee</option>
              <option value="Professional_Service">Professional Service</option>
              <option value="Miscellaneous">Miscellaneous</option>
              <option value="Other">Other</option>
              <option value="">-----</option>
          </select><br>
          <label for="expense_amount">Budget Description:</label>
          <input id ="expense_amount-submit" type="text" name="expense_description" value=""><br>
          <label for="expense_amount">Budget Amount:</label>
          <input id ="expense_amount-submit" type="text" name="expense_amount" value=""><br><br>
      <button type="submit" class="btn btn-info" style="margin-left: 1rem;">Add Expense</button>
      
    </form>
    <div style="margin-top: 1rem;">
    <a class="btn btn-info" href="{% url 'viewbudget' viewing_project.id %}" ><i class="fas fa-arrow-left"></i> Go back to budget plan</a>
    </div>

    <p style="margin-left: 1rem;">{{ form }}</p>
  </div>
       
{% endblock %}
