index.html{% extends 'home_base.html' %}
{% load static %}
{% block content %}

  <form method="POST" action="{% url 'index_budgets' %}" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
  	  {% csrf_token %}

	  <div class="form-group rounded" style="background-color: rgba(255, 255, 255, 0.9);padding: 1rem;">
	  	<input type="submit" name="createplan" 	value="create" class="btn btn-outline-primary">
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	  	<input type="submit" name="updateplan" 	value="update" class="btn btn-outline-primary">
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	  	<input type="submit" name="viewplan" 	value="view" class="btn btn-outline-primary">
	  </div>
  </form>     

{% endblock %}