{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>View a budget plan</h1>
<form action="{% url 'index_budgets' %}" method="GET" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
  <table class="table table-dark">
  <thead>
        <tr>
        <th>Capital</th>
        <th>Expense</th>
        </tr>
  </thead>
  <tbody>
        <tr>
            <td>{{capital}}</td>
            <td>{{expense}}</td>
        </tr>
  </tbody>
  </table>
</form>

<form action="{% url 'index_budgets' %}" method="POST" style="color: black;margin-left: 1rem;margin-right: 1rem; ">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-primary" style="margin-left: 1rem;">Index</button>
</form>

<p style="margin-left: 1rem;">{{ form }}</p>

{% endblock %}