{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>Create a project  </h1>
<form method="POST" action="{% url 'createproject' %}">
    {% csrf_token %}
    <label for="project_name">Project name:</label>
    <input type="text" name="project_name" id="project_name" class="form-control" style="width: 30rem;" size="100" required><br>
    <label for="project_description">Description:</label>
    <textarea name="project_description" id="project_description" class="form-control" style="width: 40rem;" required></textarea><br>
    <button class='btn btn-light' type="submit">Create</button>
</form>

{% endblock%}