<head>
	{% load static %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="{% static "js/event.js"%}"></script>
</head>
<body>
		<div class="leftnav"><span>
			<div class="user-container rounded" unselectable="on" onselectstart="return false;"  onmousedown="return false;">
				<div class="user-icon-container" >
					
				</div>
				<div class="user-name-container" >
					{{request.user.username}}</div>
			</div>
			<!--<hr width="90%" color="#B02F2F">-->
			<div class="btn-group-vertical" role="group" >
				<div class="nav-function-container rounded">
					<a href="{% url 'index' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;<b>home</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'index_projects' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;<b>Projects</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'index_tasks' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Tasks</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'schedule' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Schedule</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'help' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-hand-paper"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Help Centre</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'allpublicuser' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-address-card"></i>&nbsp;&nbsp;<b>Public Users</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="{% url 'settings' %}" class="btn btn-nav btn-block text-left"><i class="fas fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Settings</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="/accounts/logout/" class="btn btn-nav btn-block text-left"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Logout</b></a>
				</div>
			</div>
			</span>
		</div>
</body>