{% extends 'index.html'%}
{% block content %}
<div class="project-top-header unselectable">
	<h5 style="padding-top: 10px;display: inline-block;" >Help</h5>
</div>
<div id="accordion" class="help-style" style="margin:1rem 1rem 1rem 1rem;">
  <div class="card">
	<div class="card-header help-collapse-head" id="headingOne">
	  <h5 class="mb-0">
		<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
		  <font color="#FFF">Tasks</font>
		</button>
	  </h5>
	</div>

	<div id="collapseOne" class="collapse help-collapse-body" aria-labelledby="headingOne" data-parent="#accordion">
	  <div class="card-body">
		In MapOut, project leader can add tasks to a project by clicking the + sign in the right bottom corner. Task name, due date and responsible members should be filled in. Then you click Add to finish the process.
		  <br>
		<br> Tasks can be set to finished by the responsible members. Reminder email will be sent to resopnsible members in a certain periods before the due date of the tasks.
	  </div>
	</div>
  </div>
  <div class="card">
	<div class="card-header help-collapse-head" id="headingTwo">
	  <h5 class="mb-0">
		<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		  <font color="#FFF">How to create a project?</font>
		</button>
	  </h5>
	</div>
	<div id="collapseTwo" class="collapse help-collapse-body" aria-labelledby="headingTwo" data-parent="#accordion">
	  <div class="card-body">
		For creating a project, first click the + sign in the right bottom corner and select 'Create a project' .You need to enter the name and description of the project. The person who created the project will be set as the Projectc leader as default. Then, the project leader can invite other people to be project members.
	  </div>
	</div>
  </div>
  <div class="card">
	<div class="card-header help-collapse-head" id="headingThree">
	  <h5 class="mb-0">
		<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		  <font color="#FFF">What is Schedule?</font>
		</button>
	  </h5>
	</div>
	<div id="collapseThree" class="collapse help-collapse-body" aria-labelledby="headingThree" data-parent="#accordion">
	  <div class="card-body">
		The Google calendar is connected if you allow the permission. You can manage your schedule when the tasks are added. The event will be created on your calendar accordingly.
	  </div>
	</div>
  </div>
</div>
{% endblock %} 