{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<div id="home-big-title"  unselectable="on"
	 onselectstart="return false;" 
	 onmousedown="return false;" >
			  <span><img src="{% static "logo_big.png" %}" width="70%" alt=""></span><br>
			  <span style="font-size: 20px;opacity: 0.9;letter-spacing: 5px;">helps you with your projects</span><br><br><br><br>
			  <div class="home-features"><i class="fas fa-project-diagram fa-3x"></i><br>Projects
			  </div>
			  <div class="home-features"><i class="fas fa-tasks fa-3x"></i><br>Tasks</div>

			  <div class="home-features"><i class="fas fa-envelope fa-3x"></i><br>Reminder
			  </div>
			  <div class="home-features"><i class="fas fa-calendar-alt fa-3x"></i><br>Calendadr</div><br><br>
				<a href="{% url 'signup' %}" class="btn btn-lg btn-outline-light" style="border-radius: 40px;font-size: 40px;"><span style="margin-left: 1rem; margin-right: 1rem;">Start now</span></button>
</div>
      
{% endblock %}
