<!DOCTYPE html>
<html lang="en">
<head>
	<title>MapOut - index</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="description" content="The main page">
	<meta name="keywords" content="Project,Business,School,University,Budget Plan,">
	<meta name="author" content="2020Fall CSCI3100 Group 10">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "style.css" %}">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		setTimeout(function() {
    		 $.get("{% url 'home' %}")
		}, 5000);
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="event.js"></script>
	<style>a {
    font-family: Calibri;
    }</style>
</head>
<body>
	<header id = "nav-top"></header>
	<div id="nav-placeholder">{% include 'function_bar.html' %}</div>
	<div class="wrapper rightcontent" tabindex="-1" style="overflow-y: auto;">
		{% block content %}
		{% endblock %}
	</div>
	<div class="add-project-button">
		<div class="dropup">
			<button type="button" class="btn float" data-toggle="dropdown">
				<i class="fas fa-plus fa-lg my-float" ></i>
			</button>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="{% url 'createproject' %}">Create a project</a>
			  <a class="dropdown-item" href="{% url 'createtask' %}">Create a task</a>
			</div>
		  </div>
	</div>
</body>
</html>