{% block joinForm %}
<div id="joinForm{{id}}" class="joinFormStyle border border-primary rounded" style="display: none;">
        <h3>Join Project (PID: {{id}})</h3>
    <div class="form-group"></div>
        {% if form.errors %}
            <span style="color: red;"><p>ERROR</p></span>
        {% endif %}
        <form method="POST" action=""> <!--{% url 'join_project' id %-->
            {% csrf_token %}
            <div class="align-items-center">
                <div class="col">
                    <label for="message{{id}}">Message to owners:</label>
                    <textarea class="form-control rounded-0" id="message{{id}}" rows="3" required></textarea><br>
                </div>
                <div class="col">
                    <label for="va_password{{id}}">Your Password (for validation):</label>
                    <input class="form-control" type="password" name="va_password" value="" id="va_password{{id}}"><br>    
                </div>
                <div class="col">
                    <input id="join_submit{{id}}" type="submit" value="Submit" class="btn btn-outline-primary">
                    <button id='cancelJ{{id}}' type="button" class="btn btn-outline-danger" onclick="closeForm(this)">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function openForm(openbutton) {
        id = openbutton.id.split("j")[1];
        document.getElementById("joinForm" + id).style.display = "block";
      
    }
    function closeForm(closebutton) {
        id = closebutton.id.split("J")[1];
        document.getElementById("joinForm" + id).style.display = "none";
        document.getElementById("message" + id).value = "";
        document.getElementById("va_password" + id).value = "";
    }
</script>
{% endblock %}