{% block requestModal%}
<div class="modal fade" tabindex="-1" role="dialog" id="requestModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if non_r_msg %}
                    <h5 class="modal-title">You have {{non_r_msg.all.count}} request:</h5>
                {% else %}
                    <h5 class="modal-title">No join request</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto">
                <table id="allJR" class="table rounded">
                    <caption>Total {{ non_r_msg.all.count }} join request.</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="table-info text-nowrap">User</th>
                            <th scope="col" class="table-info text-nowrap">Message</th>
                            <th scope="col" class="table-info text-nowrap"></th>
                        </tr>
                    </thead>
                    {% for jq in join_requests %}
                        {% if jq in non_r_msg%}
                            <tbody>
                                <tr>
                                    <td>
                                        {% for ur in senders%}
                                            {% if jq.user_id == ur.id%}
                                                {{ur.username}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ jq.message }}</td>
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <label for="accept" style="display: none"></label>
                                            <input type="number" id="accept" name="accept" style="display: none" value="{{jq.id}}">
                                            <input class="btn btn-outline-primary btn-sm btn-block" value="Accept" type="submit"/>
                                            <label for="reject" style="display: none"></label>
                                            <input type="number" id="reject" name="reject" style="display: none" value="{{jq.id}}">
                                            <input class="btn btn-outline-primary btn-sm btn-block" value="Reject" type="submit"/>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock requestModal %}