{% extends 'index.html' %}
{% load static %}
{% block content %}
	<div class="project-top-header unselectable">
		<h5 style="padding-top: 10px;display: inline-block;" >Your Projects</h5>
	</div>
{% if projects %}
	<div class="card-deck" style="margin: 1rem 1rem 1rem 1rem;">
		{% for one_project in projects %}
		<a href="{% url 'viewproject' one_project.id %}"><div class="card" style="width: 15rem;height: 15rem; display: inline-block; margin:0.3rem;">
			<div class="card-header">
				<h5 class="card-title">{{one_project.project_name}}</h5>
			</div>
			<div class="card-body text-muted">
				{% if one_project.closed == False %}
					<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Open</span>
				{% else %}
					<span class="badge badge-light" ><span style="color:crimson;">●</span> Closed</span>
				{% endif %}
				{% if one_project.private == False %}
				<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Public</span>
				{% else %}
				<span class="badge badge-light" ><span style="color:crimson;">●</span> Private</span>
				{% endif %}
				<br>
				<h7 class="card-subtitle mb-2 text-muted">Tasks</h7><br>
				{% if tasks %}
					{% for one_task in tasks %}
						{% if forloop.counter < 5 %}
							{% if one_task.belong_project == one_project  %}
								<li class="card-text">{{one_task.task_name}}</li>
							{% endif %}
						{% else %}
						<p>...</p>
						{% endif %}
					{% endfor %}
				{% else %}
				<i>No task in this project currently.</i>
				{% endif %}
			</div>
		</div></a>
		{% endfor %}
	</div>
{% else %}
	<div class="no-project-pic unselectable" style="margin: 1rem 1rem 1rem 1rem;">
		<img src="{% static "project.png" %}" width="400px" style="margin: 0 auto;display: block"><br>You don't have any projects! Click the plus sign to create one.
	</div>
{% endif %}

<div class="project-top-header unselectable">
	<h5 style="padding-top: 10px;display: inline-block;" >Public Area</h5>
</div>
<div style="margin: 1rem 1rem 1rem 1rem;">
	<!-- Search form -->
	<div class="md-form active-cyan active-cyan-2 mb-3">
		<form method="get">
			<input id="search" name="search" class="form-control col-12" type="text" placeholder="Search For Public Projects" aria-label="Search">
		</form>
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-bordered table-striped">
			<caption>All of the {{ all_public_project.all.count }} public projects.</caption>
			<thead>
				<tr>
				<th scope="col" class="table-info text-nowrap" style="width: 10%">PID</th>
				<th scope="col" class="table-info text-nowrap" style="width: 60%">Project Name</th>
				<th scope="col" class="table-info text-nowrap" style="width: 10%"># of Members</th>
				<th scope="col" class="table-info text-nowrap" style="width: 15%">View / Join</th>
				</tr>
			</thead>
			{% for a_project in all_public_project%}
				<tbody>
					<tr>
						<th scope="row">{{ a_project.id }}</th>
						<td>{{ a_project.project_name }}</td>
						<td>
							<div style=" vertical-align: middle; margin: auto">
								{{ a_project.members.all.count }}
							</div>
						</td>
						<td>
							<div class="row" style="margin: 3px 3px;">
								<a href="{% url 'viewproject' a_project.id %}" class="btn btn-outline-primary col-6">V</a>
								<a href="{% url 'join_project' a_project.id %}" role="button" class="btn btn-outline-primary col-6">J</a>
							</div>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
<!--<script type="text/javascript">
	document.getElementById("search").value = ""
</script>-->

{% endblock %}
