{% extends 'index.html' %}
{% load static %}
{% block content %}
{% if projects %}

	{% spaceless %}{% for one_project in projects %}
	<a href="{% url 'viewproject' one_project.id %}"><div class="card" style="width: 15rem;height: 15rem; display: inline-block; margin:0.3rem;">
		<div class="card-body">
			<h5 class="card-title">{{one_project.project_name}}</h5>
			<h7 class="card-subtitle mb-2 text-muted">Tasks</h7>
			{% with count=0 %}
			{% for one_task in tasks %}
				{% if forloop.counter < 5 %}
					{% if one_task.belong_project == one_project  %}
						<li class="card-text">{{one_task.task_name}}</li>
					{% endif %}
				{% else %}
				...
				{% endif %}
			{% endfor %}
			{% endwith %}
		</div>
	</div></a>
	{% endfor %}{% endspaceless %}
{% endif %}
{% endblock %}
