{% extends 'index.html' %}
{% block content %}
{% if tasks %}
<div class="card-group">
    {% for one_task in tasks %}
        <a href="{% url 'viewtask' one_task.belong_project.id one_task.id %}">
            <div class="card" style="width: 15rem;height: 13rem; display: inline-block; margin:0.3rem;">
                <div class="card-header" style="background-color: sandybrown;height: 3rem">
                    <h5 class="card-title">{{one_task.task_name}}</h5>
                </div>
                <div class="card-body" style="height:7rem ;">
                    <h7 class="card-subtitle mb-2 text-muted">Project: {{one_task.belong_project.project_name}}</h7>
                    <p class="card-text">{{one_task.task_description}}</p>
                    {% if one_task.finish == False %}
                        <p class="text-muted">Not yet finished</p>
                    {% endif %}
                </div>
                <div class="card-footer text-muted" style="height: 3rem;">
                    Due date: {{one_task.due_date}}
                </div>
            </div>    
        </a>
    {% endfor %}
</div>

{% endif %}

{% endblock %}