{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="project-top-header unselectable">
        <h5 style="padding-top: 10px;display: inline-block;" >Tasks</h5>
    </div>
{% if tasks %}
    <div class="card-group" style="margin: 1rem 1rem 1rem 1rem;">
        {% for one_task in tasks %}
            <a href="{% url 'viewtask' one_task.belong_project.id one_task.id %}">
                <div class="card" style="width: 15rem;height: 13rem; display: inline-block; margin:0.3rem;">
                    <div class="card-header" style="background-color: sandybrown;height: 3rem">
                        <h5 class="card-title">{{one_task.task_name}}</h5>
                    </div>
                    <div class="card-body" style="height:7rem ;">
                        {% if one_task.finish == False %}
                            <p class="badge badge-primary text-wrap" style="color: white;">Not yet finished</p>
                        {% else %}
                            <p class="badge badge-secondary text-wrap" style="color: white;">Finished</p>
                        {% endif %}<br>
                        <h7 class="card-subtitle mb-2 text-muted">Project: {{one_task.belong_project.project_name}}</h7>
                        
                        
                    </div>
                    <div class="card-footer text-muted" style="height: 3rem;">
                        Due date: {{one_task.due_date}}
                    </div>
                </div>    
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="no-project-pic unselectable" style="margin: 1rem 1rem 1rem 1rem;">
        <img src="{% static "task.png" %}" width="400px" style="margin: 0 auto;display: block;"><br><div style="margin: 0 auto;display: block;width: 30rem;">You don't have tasks! Click the plus sign to create one.</div>
    </div>
{% endif %}

{% endblock %}