{% extends 'index.html' %}
{% load static %}
{% block content %}
<body>
	<span>
		manage projects and tasks here
		<div class="searchbar-container rounded">
			<div class="no-copy" style="margin-top:10px;margin-left:20px;">&#x2315;
			</div>
			<input type="text" class="resized-searchbox rounded change" placeholder="search here.(or delete this bar)" style="background-color: rgba(0,0,0,0);;border:none" >
		</div>
			<!--project-->
			<div class="table-container" >
				<table class="table table-dark round-table overflow-hidden" style="border-radius:6px;">
					<thead class="table-borderless">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Project</th> <!--(click and go to project page or what?)-->
						<th scope="col">Description</th>
						<th scope="col">Creation date</th>
					</tr>
					</thead>
					<tbody class="table-bordered">
						{% if projects %}
							{% for one_project in projects %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td><a href="{% url 'viewproject' one_project.id %}">{{one_project.project_name}}</a></td>
								<td>{{one_project.project_description}}</td>
								<td>{{one_project.create_date}}</td>
							</tr>
							{% endfor %}
						{% else %}
							<td colspan="4">You currently does not invole in any projects. </td>
						{% endif %}
					</tbody>
				</table>
			</div>
			<!--task-->
			<div class="table-container">
				<table class="table table-dark round-table overflow-hidden" style="border-radius:6px;">
					<thead class="table-borderless">
					<tr >
						<th scope="col">#</th>
						<th scope="col">Task name</th>
						<th scope="col">belongs to project</th>	
						<th scope="col">Last modified</th>
						<th scope="col">due date</th>
					</tr>
					</thead>
					<tbody class="table-bordered">
						{% if tasks %}
							{% for one_task in tasks %}
								<th scope="row">{{ forloop.counter }}</th>
								<td><a href="{% url 'viewtask' one_task.belong_project.id one_task.id %}">{{one_task.task_name}}</a></td>
								<td>{{one_task.belong_project.project_name}}</td>
								<td>wait to amend</td>
								<td>{{one_task.due_date}}</td>
							{% endfor %}
							{% else %}
								<th scope="row" colspan="5">you dont have any ask now!</th>
						{% endif %}
					</tbody>
				</table>
			</div>	
		<div class="add-project-button">
			<div class="dropup">
				<button type="button" class="btn float" data-toggle="dropdown">
					<i class="fas fa-plus fa-lg my-float" ></i>
				</button>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="{% url 'createproject' %}">Create a project</a>
				  <a class="dropdown-item" href="{% url 'createtask' %}">Create a task</a>
				</div>
			  </div>
	
		</div>
	</span>
</body>

{% endblock %}
