{% extends 'index.html' %}
{% block content %}
<div style="padding: 1rem;color:coral" class="unselectable">
    <h2>Welcome back! {{request.user.username}}</h2>
</div>
<div style="margin:1rem 1rem 1rem 1rem;">
    <div class="card unselectable" style="width: 20rem;height: 20rem;">
        <div class="card-header"><i class="fas fa-file-alt"></i> Upcoming Tasks
        </div>
        <div class="card-body">
            <div class="card-text">
                <!--show 3 tasks by most near due date from today-->
                {% for one_task in mytasks|slice:":5" %}
                    <li>{{one_task.task_name}}:{{one_task.due_date}}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}