{% extends 'index.html' %}
{% load static %}
{% block content %}
	<div class="project-top-header unselectable">
		<h5 style="padding-top: 10px;display: inline-block;" >Your Projects</h5>
	</div>
{% if projects %}
	<div class="card-deck" style="margin: 1rem 1rem 1rem 1rem;">
		{% for one_project in projects %}
		<a href="{% url 'viewproject' one_project.id %}"><div class="card" style="width: 15rem;height: 15rem; display: inline-block; margin:0.3rem;">
			<div class="card-header">
				<h5 class="card-title">{{one_project.project_name}}</h5>
			</div>
			<div class="card-body text-muted">
				{% if one_project.closed == False %}
					<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Open</span>
				{% else %}
					<span class="badge badge-light" ><span style="color:crimson;">●</span> Closed</span>
				{% endif %}
				{% if one_project.private == False %}
				<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Public</span>
				{% else %}
				<span class="badge badge-light" ><span style="color:crimson;">●</span> Private</span>
				{% endif %}
				<br>
				<h7 class="card-subtitle mb-2 text-muted">Tasks</h7><br>
				{% if tasks %}
					{% for one_task in tasks %}
						{% if forloop.counter < 5 %}
							{% if one_task.belong_project == one_project  %}
								<li class="card-text">{{one_task.task_name}}</li>
							{% endif %}
						{% else %}
						<p>...</p>
						{% endif %}
					{% endfor %}
				{% else %}
				<i>No task in this project currently.</i>
				{% endif %}
			</div>
		</div></a>
		{% endfor %}
	</div>
{% else %}
	<div class="no-project-pic unselectable" style="margin: 1rem 1rem 1rem 1rem;">
		<img src="{% static "project.png" %}" width="400px" style="margin: 0 auto;display: block"><br>You don't have any projects! Click the plus sign to create one.
	</div>
{% endif %}

	<div class="project-top-header unselectable">
		<h5 style="padding-top: 10px;display: inline-block;" >Public Area</h5>
	</div>
	<div style="margin: 1rem 1rem 1rem 1rem;">
		<!-- Search form -->
		<div class="md-form active-cyan active-cyan-2 mb-3">
			<form method="get">
				<input id="search" name="search" class="form-control col-12" type="text" onkeyup="Searching()" 
					placeholder="Search For Public Projects (By PID or Project Name)" aria-label="Search">
			</form>
		</div>
		<div class="table-responsive rounded">
			<table id="allPPj" class="table table-light table-hover table-bordered table-striped rounded">
				<caption>All of the {{ all_public_project.all.count }} public projects.</caption>
				<thead>
					<tr>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(0)" style="width: 10%">PID</th>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(1)" style="width: 60%">Project Name</th>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(2)" style="width: 10%"># of Members</th>
						<th scope="col" class="table-info text-nowrap" style="width: 5%">View</th>
						<th scope="col" class="table-info text-nowrap" style="width: 5%">Join</th>
					</tr>
				</thead>
				{% for a_project in all_public_project%}
					<tbody>
						<tr>
							<td>{{ a_project.id }}</td>
							<td>{{ a_project.project_name }}</td>
							<td>
								<div style=" vertical-align: middle; margin: auto">
									{{ a_project.members.all.count }}
								</div>
							</td>
							<td>
									<a href="{% url 'viewproject' a_project.id %}" class="btn btn-info btn-sm"><i class="fas fa-search-plus"></i></a>
									<!--<a href="{% url 'join_project' a_project.id %}" role="button" onclick="openForm()" class="btn btn-outline-primary col-6">J</a>-->
							</td>
							<td>
								{% if cuser not in a_project.members.all %}
										<button id="j{{a_project.id}}" class="btn btn-info btn-sm" onclick="openForm(this)"><i class="fas fa-plus"></i></button>
								{% else %} <i class="fas fa-times bg-sm"></i>		
								{% endif %}
							</td>
						</tr>
					</tbody>
					{% block joinForm %}
						{% include 'join_project.html' with jpid=a_project.id%}
					{% endblock %}
				{% endfor %}
			</table>
		</div>
	</div>

	<script>
		function Searching(){
			var input, filter, table, tr, td, col, i, j, match, txtValue;
			input = document.getElementById('search');
			filter = input.value.toUpperCase();
			table = document.getElementById("allPPj");
			tr = table.getElementsByTagName("tr");
			col = table.getElementsByTagName("td")
			for (i = 1; i < tr.length; i++) {
				for(j = 0; j < col.length/tr.length -1; j++){
					td = tr[i].getElementsByTagName("td")[j];
					if (td) {
						txtValue = td.innerText;
						match = 0;
						if (txtValue.toUpperCase().indexOf(filter) > -1){
							match = 1;
							break;
						}
						else
							match = 0;
					}
				}
				if (match) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}

		function Sorting(idx){
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("allPPj");
			switching = true;
			dir = "asc";
			while (switching) {
				switching = false;
				rows = table.rows;
				for (i = 1; i < (rows.length - 1); i++) {
					shouldSwitch = false;
					x = rows[i].getElementsByTagName("TD")[idx];
					y = rows[i + 1].getElementsByTagName("TD")[idx];
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						shouldSwitch = true;
						break;
						}
					} 
					else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						shouldSwitch = true;
						break;
						}
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					switchcount ++;
				} 
				else {
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
{% endblock %}
