{% extends 'index.html' %}
{% load static %}
{% block content %}
	<div class="project-top-header unselectable">
		<h5 style="padding-top: 10px;display: inline-block;" >Your Projects</h5>
	</div>
	{% if projects %}
		<div class="card-deck" style="margin: 1rem 1rem 1rem 1rem;">
			{% for one_project in projects %}
			<a href="{% url 'viewproject' one_project.id %}"><div class="card " style="width: 15rem;height: 15rem; display: inline-block; margin:0.3rem;">
				<div class="card-header">
					<h5 class="card-title">{{one_project.project_name}}</h5>
				</div>
				<div class="card-body text-muted">
					{% if one_project.closed == False %}
						<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Open</span>
					{% else %}
						<span class="badge badge-light" ><span style="color:crimson;">●</span> Closed</span>
					{% endif %}
					{% if one_project.private == False %}
						<span class="badge badge-light" ><span style="color: chartreuse;">●</span> Public</span>
					{% else %}
						<span class="badge badge-light" ><span style="color:crimson;">●</span> Private</span>
					{% endif %}
					<br>
					<h7 class="card-subtitle mb-2 text-muted">Tasks</h7><br>
					{% if tasks %}
						{% for one_task in tasks %}
							{% if forloop.counter < 5 %}
								{% if one_task.belong_project == one_project  %}
									<li class="card-text">{{one_task.task_name}}</li>
								{% endif %}
							{% else %}
								<p>...</p>
							{% endif %}
						{% endfor %}
					{% else %}
						<i>No task in this project currently.</i>
					{% endif %}
				</div>
			</div></a>
			{% endfor %}
		</div>
	{% else %}
		<div class="no-project-pic unselectable" style="margin: 1rem 1rem 1rem 1rem;">
			<img src="{% static "project.png" %}" width="400px" style="margin: 0 auto;display: block"><br><div style="margin: 0 auto;display: block;width: 30rem;">You don't have any projects! Click the plus sign to create one.</div>
		</div>
	{% endif %}

	<div class="project-top-header unselectable">
		<h5 style="padding-top: 10px;display: inline-block;" >Public Area</h5>
	</div>
	<div style="margin: 1rem">
		<!-- Search form -->
		<div class="md-form active-cyan active-cyan-2 mb-3">
			<form method="get">
				<input id="search" name="search" class="form-control col-12" type="text" onkeyup="Searching()" 
					placeholder="Search For Public Projects (By PID or Project Name)" aria-label="Search">
			</form>
		</div>
		<div class="table-responsive rounded" style="overflow: auto">
			<table id="allPPj" class="table table-light table-hover table-bordered table-striped rounded">
				<caption>
					Total {{ all_public_project.all.count }} public projects.<br>
					Join status: <br>
					<i class="fas fa-plus"></i>: you can submit a join request<br>
					<i class="fa fa-check"></i>: submitted join request<br>
					<i class="fas fa-times bg-sm"></i>: you are the member
				</caption>
				<thead>
					<tr>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(0)" style="width: 10%">PID</th>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(1)" style="width: 60%">Project Name</th>
						<th scope="col" class="table-info text-nowrap" onclick="Sorting(2)" style="width: 10%"># of Members</th>
						<th scope="col" class="table-info text-nowrap" style="width: 5%">View</th>
						<th scope="col" class="table-info text-nowrap" style="width: 5%">Join</th>
					</tr>
				</thead>
				{% for a_project in all_public_project%}
					<tbody>
						<tr>
							<td>{{ a_project.id }}</td>
							<td>{{ a_project.project_name }}</td>
							<td>
								<div style=" vertical-align: middle; margin: auto">
									{{ a_project.members.all.count }}
								</div>
							</td>
							<td>
								<div class="text-center">
									<a href="{% url 'viewproject' a_project.id %}" class="btn btn-info btn-sm"><i class="fas fa-search-plus"></i></a>
								</div>
							</td>
							<td>
								<div class="text-center">
									{% if cuser not in a_project.members.all and a_project not in request_list%}
										<button id="j{{a_project.id}}" class="btn btn-info btn-sm" onclick="openForm(this)"><i class="fas fa-plus"></i></button>
									{% elif a_project in request_list %} 
										<i class="fa fa-check"></i> 
									{% else %} 
										<i class="fas fa-times bg-sm"></i>
									{% endif %}
								</div>
							</td>
						</tr>
					</tbody>
					{% block joinForm %}
						{% include 'join_project.html' with jpid=a_project.id%}
					{% endblock %}
				{% endfor %}
			</table>
		</div>
	</div>
	<div>
		{% if messages%}
			<div class="validationBox fade">
				{% for message in messages %}
					<div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% block Searchfun %} {% include 'search_function.html'%} {% endblock %}
{% endblock %}