
<style>
a {
    color: white;
    font-family: Calibri;
    }
</style>
{% block content %}
{% load static %}
<header class="bg-danger text-white sticky-top">
  <div class="overlay-div">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
      <img src="{% static "logo_small.png" %}" alt="">
        <ul class="navbar-nav navbar-right"> <!--make it rightside-->
          <li class="nav-item navbar-dark"><button class="btn  btn-outline-light" style="border:none;font-size: 18px;" href="./about_us.html" data-toggle="modal" data-target="#about-modal">About Us</button></li>
			<!--modal for about us-->
			<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" style="color: black;">
						<h5 class="modal-title" style="margin: 1rem">About us</h5>
						<button type="button" class="btn btn-light btn-sm" data-dismiss="modal"><i class="fas fa-times"></i></button>
					</div>	
				  <div class="modal-body" >
					  <font color="#000">
					  		(!!!!!!this is copy from init doc to tmp use!!!!!!)<br>
						  MapOut offers an online web-based platform for project members to maintain their project progress. MapOut proposes to provide the users with better coordination of their projects. Having an overview of everyone’s progress and sharing materials would not be difficult anymore. MapOut makes project management no longer a vexing task.
						  </font>
					</div>
				</div>
			  </div>
			</div>
			
          <li class="nav-item navbar-dark"><button class="btn  btn-outline-light" style="border:none;font-size: 18px;" href="#" data-toggle="modal" data-target="#login-modal">Login</button></li>
			<!--modal for login form-->
			{% include "registration/login.html" %}
			
          <li class="nav-item navbar-dark"><button class="btn  btn-outline-light" style="border:none;font-size: 18px;" href="#" data-toggle="modal" data-target="#sign-up-modal">Sign Up</button></li>
			<!--modal for Sign up form-->
			{% include "registration/signup.html" %}
			
        </ul>
      </div>
    </nav>
  </div>
</header>
{% endblock %}