{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="project-top-header unselectable">
  <h5 style="padding-top: 10px;display: inline-block;" ><span style="color: darkgray;">Task •</span> {{task.task_name}} <span style="color: darkgray;">of Project: {{viewing_project.project_name}}</span></h5>
  {% if task.finish == False %}
    <p class="badge badge-primary text-wrap" style="color: white;">Not yet finished</p>
  {% else %}
    <p class="badge badge-secondary text-wrap" style="color: white;">Finished</p>
  {% endif %}
{% if is_member or viewing_project.private == False %}  
      <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#tasknameModal"><i class="fas fa-pen fa-xs"></i></button>
    </div>
    <div class="button-bar rounded">
    {% if is_incharge %}
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addmemberModal">Add a in-charge member</button>
    {% if task.finish == False %}
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#finishModal">Task finished</button>
    {% else %}
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#unfinishModal">Unfinish task</button>
    {% endif %}
{% endif %}
<a class="btn btn-success" role="button" href="/project/{{ viewing_project.id}}"><span class="text-light">Go to project</span></a>
</div>

  <!--main section-->
  <div class="rounded main-section">
    <!--show task description-->
    <div>
      <h6 class="unselectable" >Task person-in-charge:</h6>
      {% for one_user in project_members_in_charge %}
          {{one_user.username}}
      {% endfor %}
    </div>
    <hr>
    <div>
      <h6 class="unselectable" >Due date:</h6>
      {{task.due_date}}
    </div>
    <hr>
    <div style="margin-bottom: 1rem;">
      <h6 class="unselectable" >Task Description <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#taskdescriptionModal"><i class="fas fa-pen fa-xs"></i></button></h6>
      {% if task.task_description %}
        {{task.task_description}}
      {% else %}
        <i>None</i>
      {% endif %}

    </div>
    <hr>
    <div>
      {% if is_member %} <h6 class="unselectable">Upload file:</h6>{% endif %}
    </div>
    {% if is_member %}<form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" value="1" id="myfile_flag" name="myfile_flag">
          <input type="file" name="myfile" id="myfile"z class="btn btn-light  form-control-file">
          <button type="submit" class="btn btn-light">Upload</button>
        </form>{% endif %}
        <table class="table table-dark table-hover rounded">
            <thead>
                  <tr>
                  <th>#</th>
                  <th>File name</th>
                  <th>Size</th>
                  <th>Last Update</th>
                  <th>Download</th>
                  {% if is_member %}<th>Delete</th> {% endif %}
                  </tr>
            </thead>
            <tbody>
              
                {% if taskfiles %}
                  {% for one_file in taskfiles %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{one_file.filename}}</td>
                        <td>{{one_file.file.size|filesizeformat}}</td>
                        <td>{{one_file.last_modify}}</td>
                        <td><form method="POST">{% csrf_token %}<input type="hidden" value="{{one_file.id}}" id="download_file" name="download_file"><button type="submit" class="btn btn-dark"><i class="fas fa-arrow-down"></i></button></form></td>
                        <td><form method="POST">{% csrf_token %}<input type="hidden" value="{{one_file.id}}" id="delete_file" name="delete_file"><button type="submit" class="btn btn-dark"><i class="fas fa-trash-alt"></i></button></form></td>
                    </tr>
                  {% endfor %}
                {% else %}
                    <tr>
                      <td colspan="65">There is no file in this task</td>
                    </tr>
                {% endif %}
              </form>
            </tbody>
        </table>
  </div>
  
  <!--div of add a member modal-->
  <div class="modal fade" tabindex="-1" role="dialog" id="addmemberModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a member to project: {{viewing_project.project_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST"> 
            {% csrf_token %}
          <p>Please choose the member of the project to add as person-in-charge of this task:</p>
            <select id="add_incharge" name="add_incharge" class="custom-select" style="max-width: 30rem;" required>
              {% for one_user in project_members_not_in_charge %}
                  <option value="{{one_user.id}}">{{one_user.username}}</option>
              {% endfor %}
            </select>
                <!--message after member added successfully-->
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-info" value="Add" onclick="successmessage()">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!--div of add a mark finish modal-->
  <div class="modal fade" tabindex="-1" role="dialog" id="finishModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Finished</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Finished this task and mark it as finished?</p>
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="finished" name="finished" value="1">
            <input type="submit" class="btn btn-info" value="Yes">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!--div of add a unmark finish modal-->
  <div class="modal fade" tabindex="-1" role="dialog" id="unfinishModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Unfinish</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Unfinish this task?</p>
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="unfinished" name="unfinished" value="1">
            <input type="submit" class="btn btn-info" value="Yes">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!--div of changing task name modal-->
  <div class="modal fade" tabindex="-1" role="dialog" id="tasknameModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change task name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
          <p>Please enter the new task name:</p>
          <input type="text" class="form-control" name="change_task_name" id="change_task_name">
        </div>
        <div class="modal-footer">
          
            <input type="submit" class="btn btn-info" value="Change">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!--div of changing task description modal-->
  <div class="modal fade" tabindex="-1" role="dialog" id="taskdescriptionModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change task description</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
          <p>Please enter the new task description:</p>
          <textarea class="form-control" name="change_task_description" id="change_task_description">{{task.task_description}}</textarea>
        </div>
        <div class="modal-footer">
          
            <input type="submit" class="btn btn-info" value="Change">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <span>You does not belong to this project.</span>
  {% endif %}
{% endblock %}