{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>{{viewing_project.project_name}}/{{task.task_name}}</h1><br>

upload file:
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" class="btn btn-light">
    <button type="submit" class="btn btn-light">Upload</button>
  </form>
  <table class="table table-dark">
      <thead>
            <tr>
            <th>#</th>
            <th>File name</th>
            <th>Size</th>
            <th>Download</th>
            <th>Delete</th>
            </tr>
      </thead>
      <tbody>
          {% for one_file in taskfiles %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{one_file.filename}}</td>
                <td>{{one_file.file.size|filesizeformat}}</td>
                <td><button class="btn btn-dark" href="#"><i class="fas fa-arrow-down"></i></button></td>
                <td><button class="btn btn-dark" href="#"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}