<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="event.js"></script>
	<script>
	$(document).ready( function() {
		$("#load_main").on("click", function() {
			$("#main1").load("main.html");
		});

		$("#load_schedule").on("click", function() {
			$("#main1").load("schedule.html");
		});

		$("#load_help").on("click", function() {
			$("#main1").load("help.html");
		});

		$("#load_settings").on("click", function() {
			$("#main1").load("settings.html");
		});
	});
	</script>
</head>
<body>
		<div class="leftnav"><span>
			<div class="user-container rounded" unselectable="on"
	 onselectstart="return false;" 
	 onmousedown="return false;">
				<div class="user-icon-container" >
					<img src="../images/testing_icon.jpg" class="icon mr-3 rounded-circle img-thumbnail shadow-sm"  alt="Profile picture">
				</div>
				<div class="user-name-container" >
					<font>	User name</font></div>
			</div>
			<!--<hr width="90%" color="#B02F2F">-->
			<div class="btn-group-vertical" role="group" >
				<div class="nav-function-container rounded">
					<a href="#" id="load_main" class="btn btn-nav btn-block text-left"><i class="fas fa-home"></i>&nbsp;&nbsp;<b>Home</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="#" id="load_schedule" class="btn btn-nav btn-block text-left"><i class="fas fa-calendar"></i>&nbsp;&nbsp;<b>Schedule</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="#" id="load_help" class="btn btn-nav btn-block text-left"><i class="fas fa-hand-paper"></i>&nbsp;&nbsp;<b>Help</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="#" id="load_settings" class="btn btn-nav btn-block text-left"><i class="fas fa-cog"></i>&nbsp;&nbsp;<b>Settings</b></a>
				</div>
				<div class="nav-function-container rounded">
					<a href="./home.html" class="btn btn-nav btn-block text-left"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;<b>Logout</b></a>
				</div>
				
			</div>

			
			</span>
			
		</div>

</body>